body {
  margin: 0;
  padding: 0;
  background: #5a5a5a;
}

.app {
  font-family: 'Nunito', sans-serif;
  margin: 10% auto;
  width: 80%;
}
.portfolioPiece/.app{
  width: 90%;
  display: block;
  margin: 12% auto;
  border: 3px solid orange;

}
small{
  font-size: .6em;
  margin-left: 10px;
}

strong{
  font-weight: 500;
}

a{
  color: #a9cbff;
  text-decoration: none;
}

a:hover{
  color: #cbe0ff;
}
h1{
    font-size: 3rem;
    color: white;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.2rem;
}
p{
    font-size: .8rem;
    margin: .5rem 0;
}
h3, h4{
  margin: 0;
}
