body {
  margin: 0;
  padding: 0;
}

.flex-notwork{
	display: flex;
}
.flex-item{
	flex: 1 1;
}

.about{
    font-family: 'Nunito', sans-serif;
 	font-size: 30px;
 	margin: 10% auto;
}

@media only screen  and (min-width : 1224px) {
	.about{
		width: 80%;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
  .about{
  	width: 90%;
  }

}