.portfolioImage{
/*  width: 90%;
  display: block;
  margin: 12% auto;
  border: 3px solid orange;*/

}
.portfolio img{
  display: block;
  width: 100%;
}
.resume{
  color: green;
}
.pfStyle{
  display: flex;
  flex-wrap: wrap;
}

/*---- Portfolio Related ----*/
  .pfStyle img{
    width: 300px;
    height: 100%;
    display: block;
    border: 1px solid #e3e3e3;
    margin: 2% .5% 0;
    flex: 1 1 auto
  }

.portfolioItem{
    position: relative;
    padding: 25px;
    opacity: .9;
    margin: 20px 0;
    background-color: white;
}

.portfolioTitle{
    width: 30%;    
    display: inline-block;
    border-right: 1px solid orange;
    padding-right: 1%;
    vertical-align: top;
}
.portfolioDesc{
    width: 67%;
    display: inline-block;
    padding-left: 1%;
    vertical-align: bottom;
}


@media only screen and (max-width : 880px){
  .app{
    width: 90%;
  }
  .pfStyle img{
    width: 100%
  }
  .portfolioTitle{
    border-bottom: 1px solid orange;    
  }
  .portfolioTitle, .portfolioDesc{
    width: 98%;
    border-right: 0;
    padding: 1%;
  }
}